/* Basic layout declarations */
body {
    font-family:Arial,sans-serif;
    font-size:90%;
    margin:0;
    padding:0;
    background-color:#fff;
}
    
#leftcontent {
    float:left;
    left:5px;
    padding:3px;
    top:150px;
    width:250px;
    }

#centercontent {
    margin-left: 280px;
    margin-right: 25px;
    padding-top:15px;
    border-left:1px solid #666;
    padding-left:10px;
  voice-family: "\"}\""; 
  voice-family:inherit;
  margin-left:270px;
}
html>body .content {
  width:270px;
} 
    
#rightcontent {
    position: absolute;
    right:10px;
    top:215px;
    width:190px;
    }

#toprightcontent {
    position: absolute;
    right:10px;
    top:140px;
    width:300px;
    background-color:#fff;
    margin-top:4px;
    }

#banner {
    background:#ccc;
    height:140px;
    border-bottom:2px solid #993333;
    voice-family: "\"}\"";
    voice-family: inherit;
    height:139px;
    }

html>body #banner {
    height:139px;
    }
    
#banner h1 {
    font-size:14px;
    padding:10px 10px 0 10px;
    margin:0;
    }
    
#logoface {
  float:left;
}
#logotext {
  float:left;
  margin-top:25px;
}

#rightcontent p {
    font-size:10px
    }

#topright {
    margin-right:30px;
    float:right;
    
}
#searchbox {
    font-weight:bold;
    padding:4px 10px 4px 5px;
    background-color:#efefef;
    border-left:2px solid #993333;
    border-right:2px solid #993333;
    border-bottom:2px solid #993333;
    }

#breadcrumb {
    position:absolute;
    top:115px;
    left:100px;
}



#footer {
    background:#ccc;
    border-top:2px solid #993333;
    position: fixed;
    float: none;
    bottom: 0px;
    width: 100%;
    margin: 1em 0 0 0;
    padding: 0 0 0;
    text-align: center;
    white-space: nowrap;
}

#mmsthumbs {
    clear:right;
    margin-top:6px;
    margin-right:15px;
    float:right;
}

div.clearer { clear: left; line-height: 0; height: 0; }


/* Misc */

.q_highlight {
    font-weight:bold;
    color:black;
}

h3, h4 {
  font-family:Arial, Verdana, sans-serif;
}

/* breadcrumb */
.bc {
  font-size:90%;
}

.copyright {
  font-size: 60%;
  color: #666;
}

.smaller {
  font-size:80%;
  color: #666;
}



/* blogitemtitle */
.btitle {
  font-weight:bold;
}

/* blogitemurl */
a.burl {
  font-size:90%;
}

/* searchbox input */
#q {
	border-width:1px;
	border-style:solid;
	border-color:#CEDE96 #D6E4A7 #D6E4A7 #CEDE96;
	width:130px;
	padding:4px 2px 4px 5px;
	background:transparent url(/misc_/Peterbecom/misc/input_back.1304583822.png) 0 0 no-repeat;
	color:#333;  
}
/* menuitem */
a.mi {
  font:bold 110% Arial, Verdana, sans-serif;
}

/* smaller_menuitem */
.s_mi {
  font:80% Arial, Verdana, sans-serif;
  color: #666666;
}


/* menu-inner-box */
.m_ib{
  float:left;
  clear:left;
  padding:4px;
  padding-right:8px;
  margin:0;
}
.m_ib{
  /* IE5 hack */
  \margin: 0 0 -3px 0;
  ma\rgin:0;
}

/* menu-item-on */
div.m_item_on {
  margin-bottom:0;
  padding-top:4px;
  padding-bottom:15px;
  clear:both;
  background-color:#ccc;
  font-family:Arial, Verdana, sans-serif;
  font-size:80%;
  color: #666666;

}

/* menu-item */
div.m_item {
  font-family:Arial, Verdana, sans-serif;
  font-size:80%;
  color: #666666;
  margin-top:10px;
  margin-bottom:22px;
  clear:both;
}



img.floatright {
  float: right;
  margin: 0 0 7px 7px;
}

img.floatleft {
  float: left;
  margin: 7px 7px 0 0;
}

pre {
  background-color: #EEEEEE;
  margin-left: 1px;
  padding: 2px;
  border:1px dashed #CCCCCC;
}


div.comment {
  width:90%;
  border-top:1px solid #cccccc;
  margin-bottom:10px;
}


.my_code_default
{
  font-family: "Courier New", Courier, monospace;
  font-size: 10pt;
  background-color: #EEEEEE;
  margin-left: 1px;
  padding: 2px;
  border:1px dashed #CCCCCC;
}


/* Thank you http://spritegen.website-performance.org/ */
#leftcontent div.m_item {
   background-image: url(/misc_/Peterbecom/menu/sprite-v2.1304583821.gif);
   background-repeat:no-repeat;
   padding:0 0 0 45px;
}
/*#about_receptsamling_menuimage { background-position: 0 0; }*/
#contact_menuimage { background-position: 0 -86px; } 
#crosstips_menuimage { background-position: 0 -174px; } 
#fry-it_menuimage { background-position: 0 -248px; } 
#issuetrackerproduct_menuimage { background-position: 0 -340px; } 
#kungfu_menuimage { background-position: 0 -409px; } 
#photos_menuimage { background-position: 0 -489px; } 
#zope_menuimage { background-position: 0 -574px; } 
#twitter_menuimage { background-position: 0 -633px; }
/* exceptions */
#issuetrackerproduct_menuimage a.mi { padding-left:40px }	 

a.ad {
  text-decoration:none;
  border-bottom:1px solid green;
}


/* All for blogitem_index_html.zpt */

div.commentinline {
  font-family:Arial, Verdana, sans-serif;
  border-top:1px solid #cccccc;
  padding:3px 4px 4px 4px;
  margin-top:10px;
  margin-bottom:10px;
  margin-left:15px; 
}
.sn {
  font-weight:bold;
  /*font-size:80%*/
}

div.commentpreview {
  background-color:#e6e6e6;
  font-family:Arial, Verdana, sans-serif;
  border-top:1px solid #cccccc;
  padding:3px 4px 4px 4px;
  margin-top:10px;
  margin-bottom:10px;
  margin-left:5px;
}

.addcommentadvert {
  padding:10px;
}
.addcommentadvert p.top {
  text-align:left;
  font-size:0.7em;
  padding-left:5px;
  margin:0;
  color:#666;  
}

.commentaddedmsg {
  border:1px solid green;
  background-color:#d8ffc2;
  padding:10px;
  width:50%;
  text-align:center;
}

#centercontent div.quote {
  font-style:italic;
  margin-left:20px;
}

@media print {
  
  /*body {
    font-family:Arial, Verdana, sans-serif;  
    margin:0;
    padding:0;
  }*/
  #leftcontent {
    display:none;
    height:0; 
    width:0; 
    overflow:hidden; 
    position:absolute;
  }
  #centercontent {
      border-left:0px solid white;
      background:#fff;
      margin-left: 25px;
      margin-right: 25px;
      padding-top:15px;
  }
  #banner {
    background-color:#ccc;
    height:80px;
    border-bottom:0px solid white;
  }    
  #logoface,
  #searchbox,
  #breadcrumb,
  #commentform {
    display:none;
  }
  #footer {
    text-align:center;
  }
  /* Misc stuff */
  #donecalad { display:none; }
}/* End print media */


.c_0{font-family:"Courier New",Courier,monospace;font-size:10pt;}
.c_1{color:#900000;}
.c_2{color:green;font-style:italic;}
.c_3{}
.c_4{color:#009000;font-weight:bold;}
.c_5{color:navy;}
.c_6{color:#900000;}
.c_7{color:black;}
.c_8{color:blue;}
.c_9{color:#000090;font-weight:bold;}
.c_10{color:#900000;}
.c_11{color:navy;}
.c_12{color:#900000;font-weight:bold;}
.c_13{color:red;}
.c_14{color:#ff0000;}
.c_15{color:navy;}
.c_16{color:olive;}
.c_17{color:green;font-style:italic;}
.c_18{color:green;font-style:italic;}
.c_19{color:navy;font-weight:bold;}
.c_20{color:red;font-weight:bold;}
.c_21{color:green;font-style:italic;}
.c_22{color:green;font-style:italic;}
.c_23{}
.c_24{color:black;}
.c_25{color:#009999;}
.c_26{color:black;}
.c_27{color:navy;font-weight:bold;}
.c_28{color:olive;}
.c_29{color:olive;}
.c_30{color:olive;}
.c_31{color:olive;}
.c_32{color:olive;}
.c_33{color:navy;font-weight:bold;}
.c_34{color:navy;font-weight:bold;}
.h_0{color:#ffff00;}
.h_1{color:#ffdf00;}
.h_2{color:#008080;}
.h_3{color:#ff0000;}
.h_4{color:#ffdf00;}
.h_5{color:#808000;}
.h_6{}
.h_7{color:olive;}
.h_8{color:#800080;}
.h_9{color:#009999;}
.h_10{color:#800080;}
.h_11{color:#000080;}
.h_12{color:olive;}
.h_13{color:#000080;}
.h_14{color:#000080;}
.h_15{color:#ff0000;}
.h_16{color:#0000ff;}
.h_17{color:#0000ff;}
.p_30{color:olive;}
.p_31{color:blue;font-weight:bold;}
.p_32{color:gray;font-style:italic;}
.p_33{color:green;font-style:italic;}
.p_34{}
.p_35{color:#009999;font-weight:bold;}
.p_36{color:black;}
.p_37{color:#009999;}
.p_38{color:black;}
.p_39{color:olive;}
.p_40{color:olive;}
.p_41{color:olive;}
.p_42{color:olive;}
.p_43{color:navy;font-weight:bold;}


